<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Roboto Font-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<!-- Fancybox Gallery CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.min.css"> -->

	<!-- Material design icon-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="/mdlite/material.indigo-pink.min.css">

	
	<title>Collectionneurs</title>
</head>

<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/">Collection</a>
				</nav>
				<div class="mdl-layout-spacer"></div>
				<% if (loggedIn) { %>
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="/">Profile</a>
						<a class="mdl-navigation__link" href="/logout">Deconnection</a>
					</nav>
				<% } else { %>
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="/login">Se Connecter</a>
					</nav>
				<% } %>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div style="margin: 10px 40px; margin-top: 40px;">