
<ul id="image_menu" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="display: none;">
    <li class="mdl-menu__item">Aggrandir</li>
    <li class="mdl-menu__item">Plus d'info</li>
    <li class="mdl-menu__item">Ajouter aux doublons</li>
    <li class="mdl-menu__item">Supprimer</li>
  </ul>
  
  <dialog id="duplicatedialog" class="mdl-dialog" style="width: 30%;">
      <h2 class="mdl-dialog__title">Ajouter aux doublons</h2>
      <div class="mdl-dialog__content">
          <p>Etes-vous sur de vouloir ajouter cet item aux doublons.</p>
          <img style="max-width: 128px; max-height: 128px; margin: auto; display: block;">
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <button type="button" class="mdl-button">Oui</button>
          <button type="button" class="mdl-button">Non</button>
      </div>
  </dialog>

  
  <dialog id="deletedialog" class="mdl-dialog" style="width: 30%;">
      <h2 class="mdl-dialog__title">Supression</h2>
      <div class="mdl-dialog__content">
          <p>Etes-vous sur de vouloir supprimer cet item de la collection?</p>
          <img style="max-width: 128px; max-height: 128px; margin: auto; display: block;">
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <button type="button" class="mdl-button">Oui</button>
          <button type="button" class="mdl-button">Non</button>
      </div>
  </dialog>
  

  <script src="/js/image_menu.js"></script>