<dialog id="simplemsgdialog" class="mdl-dialog" style="width: 30%;">
    <h2 class="mdl-dialog__title">Operation Complete</h2>
    <div class="mdl-dialog__content">
        <p>Deploiement Completer</p>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button type="button" class="mdl-button">Ok!</button>
    </div>
</dialog>

<script src="/js/simple_dialog.js"></script>