out
node_modules
static/js
project_config.json
persist-albumcache
persist-mediaitemcache
persist-storage
persist-thumbnailsitemcache
sessions
uploads
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/startup.sh