<!DOCTYPE html>
<html>

<head>
	<title>Pin Gallery</title>
</head>

<body>
    <p>Hello From Pin Gallery</p>

    <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take a photo</button>
    </div>
    <canvas id="canvas"> </canvas>
    <div class="output">
        <img id="photo" alt="The screen capture will appear in this box." />
    </div>

    <script src="js/take_photo.js"></script>
</body>

</html>
