<%- include('../partials/head') %>

<%- include('../partials/dialogs') %>

<section class="sample-content">

</section>

<div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take a photo</button>
</div>
<canvas id="canvas"> </canvas>
<div class="output">
    <img id="photo" alt="The screen capture will appear in this box." />
</div>

<form action="/newimage" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <input type="file" name="image", id="image_input">
      <input type="text" placeholder="newimage.jpeg" name="image_name">
      <input type="submit" value="Upload">
    </div>
  </form>

<%- include('../partials/js') %>
<script src="js/take_photo.js"></script>

<%- include('../partials/footer') %>