<%- include('../partials/head') %>

  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
    <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
    <span class="mdl-radio__label">Du plus ancien au plus recent</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
    <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
    <span class="mdl-radio__label">Du plus recent au plus ancien</span>
  </label>
  <div style="display: inline-block; padding-left: 40px;">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="sample1">
      <label class="mdl-textfield__label" for="sample1">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" id="searchBtn">
      <i class="material-icons">search</i>
    </button>
  </div>

  <div id="images"></div>

</div>
</main>
</div>

<%- include('../partials/simple_dialog.ejs') %>
<%- include('../partials/image_menu.ejs') %>

<script src="/js/gallery.js"></script>
</body>
</html>