<%- include('../partials/head') %>

<h1>Collection</h1>

<p>Description</p>

<% if (loggedIn) { %>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
        onclick="window.location.href='/newitem'"
    >
        Ajouter un Item
    </button>
<% } %>

<div id="images"></div>


<%- include('../partials/footer') %>
<script src="/js/index.js"></script>
<%- include('../partials/js') %>