<%- include('../partials/head') %>

<h1>Application du collectionneur</h1>
<p>Trouver les doublons dans votre collections. Ajouter une image a partir de la source desire et faite une rechercher pour trouver les items similaires.</p>

<h3>Item ajoute recemment</h3>

<div id="recentlyadded" style="padding-bottom: 40px;"></div>

<h3>Status de l'index</h3>
<div style="padding-bottom: 40px;">
    <p id="indexstatus">Recherche du status de l'index...</p>
    <div id="indexstatusbar" style="margin: auto;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <div id="indexbuttondiv" style="text-align: center;">
        <button id="indexactiondeploy" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Deployer l'index</button>
        <button id="indexactionundeploy" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Annuler le deploiement de l'index</button>
        <button id="indexactioncreate" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Creer l'index</button>
    </div>
</div>

<div id="addnewitem" class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 60%; min-width: 800px; margin-top: 60px; margin: auto; display: none;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Ajout d'un nouvel item</h2>
    </div>
    <div id="camera-panel" style="margin-bottom: 40px;">
        <video id="video" style="max-width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;">Video stream not available.</video>
        <div style="text-align: center; margin-top: 20px;">
            <button 
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="captureBtn"
            >Capture
            </button>
        </div>
    </div>
    

    <canvas id="canvas" style="max-width: 256px; margin: auto; aspect-ratio: 1/1;"></canvas>
    
    <div style="text-align: center; margin-top: 20px;">
        <button id="index_search"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
        > Rechercher des items similaires
        </button>
        <div id="imageSearchResult" style="padding-top: 20px; padding-bottom: 20px;">
            <div id="imageSearchBar" style="margin: auto; visibility: hidden;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>

    <div class="mdl-card__actions mdl-card--border" style="text-align: center;">
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="addNewItem" type="button" value="Ajouter">
    </div>
</div>

<dialog id="simplemsgdialog" class="mdl-dialog" style="width: 30%;">
    <h2 id="dialogtitle" class="mdl-dialog__title">Operation Complete</h2>
    <div class="mdl-dialog__content">
        <p id="dialogcontent">
            Deploiement Completer
        </p>
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button id="dialogok" type="button" class="mdl-button">Ok!</button>
      </div>
</dialog>

<dialog id="itemaddeddialog" class="mdl-dialog" style="width: 30%;">
    <h2 id="dialogtitle" class="mdl-dialog__title">Succes</h2>
    <div class="mdl-dialog__content">
        <p id="dialogcontent">
            Nouvelle item ajoute avec succes.
        </p>
        <img style="max-width: 128px; max-height: 128px; margin: auto; display: block;">
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button id="imgdialogok" type="button" class="mdl-button">Ok!</button>
      </div>
</dialog>

<dialog id="deploydialog" class="mdl-dialog" style="width: 30%;">
    <h2 id="dialogtitle" class="mdl-dialog__title">Index cree</h2>
    <div class="mdl-dialog__content">
        <p id="dialogcontent">
            Vous pouvez maintenant deployer l'index.
        </p>
        <img style="max-width: 128px; max-height: 128px; margin: auto; display: block;">
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button id="deploynow" type="button" class="mdl-button">Deployer maintenant</button>
            <button id="deploylater" type="button" class="mdl-button">Deployer plus tard</button>
      </div>
</dialog>

<script src="/js/index.js"></script>
<%- include('../partials/footer') %>
