<%- include('../partials/head') %>

<form id="login" action="/login" method="post">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="button" value="Connection">
</form>

<%- include('../partials/footer') %>
<%- include('../partials/js') %>