<%- include('../partials/head') %>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 60%; min-width: 800px; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Creation de l'index</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Impossible d'ajouter de nouvels items pour le moment.  L'index de rechercher est entrain de se construire.  Reessayer plus tard.
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <button id="index_search"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                onclick="window.location.href='/'"
            > Retour a la collection
            </button>
        </div>
    </div>

<%- include('../partials/footer') %>
<%- include('../partials/js') %>
