<%- include('../partials/head') %>

  <div id="similarPagesDiv" style="margin: auto; width: 200px; display: flex;">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" id="similarPagesRem">
      <i class="material-icons">remove</i>
    </button>
    <input type="number" min="1" value="<%- page_index -%>" style="max-width: 60px;" id="similarPage">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" id="similarPagesAdd">
      <i class="material-icons">add</i>
    </button>
  </div>

  <div id="images"></div>

</div>
</main>
</div>

<%- include('../partials/simple_dialog.ejs') %>
<%- include('../partials/image_menu.ejs') %>

<script src="/js/similar.js"></script>
</body>
</html>